.box {
    width: 640px;
    height: 640px;
    background-color: #ffebcd;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(20, 32px);
    grid-template-rows: repeat(20, 32px);
}

.item {
    border: 1px solid gold;
    background-color: #ffebcd;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food {
    background-color: gold;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.snake {
    background-color: blue;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}